@charset "utf-8";
/* CSS Document */

html {
	box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
	margin: 0;
	border: 0;
	background-repeat:no-repeat;
	font-family: 'Poppins', sans-serif;
	min-width: 412px;
	overflow-x: hidden;
}

header {
	display: flex;
	margin: auto;
}

#instructions {
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	line-height: 2.25rem;
	color: #000000;
}

.fruit-box {
	width: 90%;
}

.fruits {
	width: 4.5rem;
	height: 124.88px;
	margin-top: 1rem;
	place-items: center;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.fruits p {
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	position: absolute;
	bottom: 0;
	margin: 0;
	color: #000000;
}

#mainLogo {
	width: 5rem;
	display: flex;
	margin: auto;
	margin-top: 30px;
}

.container {
	width: 90%;
}

.dropZone {
	background-color: #ea1b8d;
	border-radius: 10px;
	width: 4.5rem;
	height: 4.5rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	margin-left: 10px;
}
  
.musicFruit:hover {
	transform: scale(1.5);
	transition: all 1s ease-out;
}

.audio-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background-color: transparent;
	border: none;
	width: 5rem;
	height: 5rem;
	margin-top: 2rem;
	margin-right: 1rem;
}

.btn:active {
	transform: translateY(5px);
}

.volume {
	display: flex;
	align-items: center;
	justify-content: center;
}

#volumeControl {
	width: 15rem;
	margin-top: 30px;
}

#ai_icon  {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer #ai {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.footertext {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	line-height: 2.25rem;
	color: #000000;
}

/* Tablet Styling */
 
@media screen and (min-width: 768px) {
	body {
		background-size: 300%;
	}

	.requirement p {
		text-align: center;
		font-size: 23px;
		font-weight: 500;
		line-height: 1.7rem;
		letter-spacing: 0.4px;
	}
	
	.fruits {
		width: 5rem;
		margin-left: 10px;
	}
	


	#mainLogo {
		width: 32rem;
		margin-top: 40px;
	}
	
	.dropZone {
		border-radius: 10px;
		width: 5rem;
		height: 5rem;
		margin-right: 10rem;
		margin-bottom: 1rem;
		margin-left: 10px;
	}
	


	.audio-box {
		margin-left: 10px;
	}
	
	button {
		width: 5.5rem;
		height: 5rem;
		margin-top: 2rem;
		margin-right: 1rem;
	}
	
	#volumeControl {
		width: 15rem;
		margin-top: 30px;
	}
	
	#ai_icon {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
 }

/* Desktop Styling */
 
@media screen and (min-width: 1200px) {
	body {
		background-size: 200%;
	}

	.requirement p {
		text-align: center;
		font-size: 25px;
		font-weight: 500;
		line-height: 1.8rem;
		letter-spacing: 0.4px;
	}
	
	.fruits {
		width: 5rem;
		margin-left: 10px;
	}
	
	#mainLogo {
		width: 32rem;
		margin-top: 40px;
	}
	
	.dropZone {
		border-radius: 10px;
		width: 5rem;
		height: 5rem;
		margin-bottom: 1rem;
	}

	.audio-box {
		margin-left: 30px;
		position: relative;
		bottom: 225px;
	}
	
	button {
		width: 5.5rem;
		height: 5rem;
		margin-top: 2rem;
		margin-right: 1rem;
	}
	
	#volumeControl {
		width: 15rem;
		position: relative;
		top: -230px;
	}
	
 }